# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/backend/node_modules
/backend/.pnp
/backend/.pnp.js
/backend/.yarn/install-state.gz

# environmental variables
/backend/.env
/backend/.env.local

# testing
/backend/coverage

# next.js
/backend/.next/
/backend/out/

# production
/backend/build

# misc
/backend/.DS_Store
/backend/*.pem
/backend/src/app/table.js

# debug
/backend/npm-debug.log*
/backend/yarn-debug.log*
/backend/yarn-error.log*

# local env files
/backend/.env*.local

# vercel
/backend/.vercel

# typescript
/backend/*.tsbuildinfo
/backend/next-env.d.ts
